<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.UserMapper">
<!--        根据uid查询一个用户的信息-->
    <select id="selectUserById" parameterType="Integer"
            resultType="com.mybatis.po.MyUser">
        select * from user where uid = #{uid}
    </select>
<!--    查询所有用户信息-->
    <select id="selectAllUser" resultType="com.mybatis.po.MyUser">
        select * from user
    </select>
<!--    添加一个用户#{uname}为 com.mybatis.po.MyUser的属性值-->
    <insert id="addUser" parameterType="com.mybatis.po.MyUser">
        insert into user (uname, usex) values (#{uname}, #{usex})
    </insert>
<!--    修改一个用户-->
    <update id="updateUser" parameterType="com.mybatis.po.MyUser">
        update user set uname=#{uname},usex = #{usex} where uid = #{uid}
    </update>
<!--    删除一个用户-->
    <delete id="deleteUser" parameterType="Integer">
        delete from user where uid = #{uid}
    </delete>


</mapper>
