<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.PersonMapper">
<!--    一对一根据id查询个人信息：级联查询的第一种方法（嵌套查询，执行两个sql语句）-->
    <resultMap id="cardAndPerson1" type="com.po.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
<!--        一对一联级查询-->
        <association property="card" column="idcard_id" javaType="com.po.Idcard"
        select="com.mapper.IdCardMapper.selectCodeById"/>
    </resultMap>
    <select id="selectPersonById1" parameterType="Integer" resultMap="cardAndPerson1">
        select * from person where id = #{id}
    </select>

<!--    一对一根据id查询个人信息：级联查询的第二种方法（嵌套结果，执行个SQL语句）-->
    <resultMap id="cardAndPerson2" type="com.po.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <!--        一对一联级查询-->
        <association property="card" javaType="com.po.Idcard">
            <id property="id" column="idcard_id"/>
            <result property="code" column="code"/>
        </association>
    </resultMap>
<!--    一对一根据id查询个人-->
    <select id="selectPersonById2" parameterType="Integer" resultMap="cardAndPerson2">
        select p.*, ic.code
        from person p, idcard ic
        where p.idcard_id=ic.id and p.id=#{id}
    </select>
<!--    一对一根据id查询个人信息：连接查询（使用POJO存储结果）-->
    <select id="selectPersonById3" parameterType="Integer" resultType="com.pojo.SelectPersonById">
        select p.*, ic.code
        from person p, idcard ic
        where p.idcard_id = ic.id and p.id=#{id}
    </select>
</mapper>
